@import url('https://fonts.googleapis.com/css?family=Gugi');

h1 {
    color: teal;
    font-family: 'Gugi', cursive;
}


p {                                               
  border-radius: 15px;                                     
  background: #73AD21;                                     
  padding: 20px;                                           
  height: 70px;     
  color: white;
}          

