body {
    background-image: linear-gradient(aquamarine, rgb(233, 240, 199));
}
h1 {
    color: hsl(304, 55%, 33%);
}

div {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
}