@import url('https://fonts.googleapis.com/css?family=Gugi');

h1 {
    color: teal;
    font-family: 'Gugi', cursive;

}


a {                                               
  border-radius: 15px;                                     
  background: #73AD21;                                     
  padding: 20px;                                           
  width: 200px;                                             
  height: 150px;                                           
}          

